
@{
    ViewBag.Title = "Index";
}
<body>
    <h2> Index</h2>

    <h1>Customer Dashboard</h1>
    <h3>Choose the  Required options </h3>

    <h2>Click on Booking now for new Order</h2>
    <section>
        <div class="container login d-flex justify-content-around">

            <div class="card" style="width: 18rem; height : 25rem;">
                <img src="~/Images/dashboard/bookingdash.jpg" class="card-img-top" alt="..." style="height:18rem">
                <div class="card-body">
                    <h4 class="card-title ">Bookings now</h4>
                    <h3 class="card-text ">details</h3>
                    @*<button type="submit"> @Html.ActionLink(" Click! to Booking your new Car", "Create", "Bookings") </button>*@
                    @*<a href="" class="btn btn-primary">Click!</a>*@
                <a href="https://localhost:44317/Book.html" class="btn btn-primary">Click! to Booking your new Car</a>

                </div>
            </div>

            <div class="card" style="width: 18rem; height :25rem;">
                <img src="~/Images/dashboard/branchdash.jpg" class="card-img-top" alt="..."style="height:18rem">
                <div class="card-body">
                    <h4 class="card-title ">Branch</h4>
                    <h3 class="card-text ">Details</h3>
                    <button type="submit"> @Html.ActionLink("BranchDetails", "Index", "OnlyBranchDetails") </button>
                    @*<a href="" class="btn btn-primary">Click!</a>*@

                </div>
            </div>




            <div class="card" style="width: 18rem; height :25rem;">
                <img src="~/Images/cars/lambo.jpg" class="card-img-top" alt="..."style="height:18rem">
                <div class="card-body">
                    <h4 class="card-title ">Car</h4>
                    <h3 class="card-text ">Deatils</h3>

                    @*<a href="" class="btn btn-primary">Click!</a>*@
                    <button type="submit"> @Html.ActionLink("CarDetails", "Index", "OnlyCarDetails") </button>
                </div>
            </div>


            <div class="card" style="width: 18rem; height :25rem;">
                <img src="~/Images/dashboard/schemesdash.jpg" class="card-img-top" alt="..."style="height:18rem">
                <div class="card-body">
                    <h4 class="card-title ">Schemes</h4>
                    <h3 class="card-text ">Details</h3>

                    @*<a href="" class="btn btn-primary">Click!</a>*@
                    <button type="submit"> @Html.ActionLink("SchemeDetails", "Index", "OnlySchemes") </button>
                </div>
            </div>

        </div>
    </section>


    <div>
        <div class="backbutton">
            <button type="submit"> @Html.ActionLink("Back", "Index", "Home") </button>
        </div>
    </div>


</body>
<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-size: cover;
        background-image: url('../../images/whitebg1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Set the height of the body to 100% of the viewport height */
    }


    .body-content {
        margin: 0;
        padding: 0;
    }
    .backbutton {
        margin-left: 5rem;
        margin-top:2rem;
    }
</style>